@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: black;
    color: white;
}
h1{
    font-family: 'Berkshire Swash', cursive;
    font-size: x-large;
}
h2, h3, p, button, input, td, th{
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: large;
}