@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Berkshire';
    src: url("./fonts/BerkshireSwash-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: 'Ysabeau';
    src: url("./fonts/YsabeauInfant-Regular.ttf");
    font-display: swap;
}

body {
    font-family: Ysabeau;
    background-color: black;
    color: white;
    font-size: 1.2rem;
}

h1,
a {
    font-family: Berkshire;
    font-size: 2rem;
}